{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>ZiPa 🤖</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free Website Template" name="keywords">
    <meta content="Free Website Template" name="description">

    <!-- Favicon -->
    <link href="{% static 'img/favicon.ico' %}" rel="icon">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap" rel="stylesheet">

    <!-- CSS Libraries -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="{% static 'lib/flaticon/font/flaticon.css' %}" rel="stylesheet">
    <link href="{% static 'lib/animate/animate.min.css' %}" rel="stylesheet">
    <link href="{% static 'boxicons/css/boxicons.min.css' %}" rel="stylesheet">
    <link href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>

<body>
    <!-- Nav Bar Start -->
    <div class="navbar navbar-expand-lg bg-dark navbar-dark">
        <div class="container-fluid">
            <a href="index.html" class="navbar-brand">ZiPa </a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                <div class="navbar-nav ml-auto">
                    <a href="index.html" class="nav-item nav-link active">Home</a>
                    <a href="#about" class="nav-item nav-link">Leads</a>
                    <a href="#services" class="nav-item nav-link">Experts</a>
                    <a href="#portifolio" class="nav-item nav-link">Projects</a>
                    <a href="#contact" class="nav-item nav-link">Contact</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Nav Bar End -->

    <div class="header container">
        <div class="text-center">
            <h1>Welcome to Zipa for chatbot of your own</h1>
            <p class="text-content">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nemo, hic.<br> Iusto vel nemo reprehenderit molestiae. Necessitatibus nesciunt, repellendus <br> aliquid saepe, vero, nihil sunt magni expedita deserunt minima voluptate sed numquam.
            </p>

            <!--<button class=" btn ">Sign in</button>-->
        </div>
    </div>


    <!-- About Start -->
    <div class="about" id="about">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <img src="{% static 'img/images/bot2.png' %}" alt="" width="100%" height="100%">
                </div>
                <div class="col-lg-6">
                    <div class="section-header">
                        <p>Why Choose ZiPa</p>
                        <h2>AI Solution for all</h2>
                    </div>
                    <div class="about-tab">
                        <ul class="nav nav-pills nav-justified">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="pill" href="#tab-content-1">About</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="pill" href="#tab-content-2">Mission</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="pill" href="#tab-content-3">Vision</a>
                            </li>
                        </ul>

                        <div class="tab-content">
                            <div id="tab-content-1" class="container tab-pane active">
                                Zipa technologies is a self dependent institute aiming to solve challenges in the society by using AI technology and provide great service.
                            </div>
                            <div id="tab-content-2" class="container tab-pane fade">
                                Zipa technologies is a self dependent institute aiming to solve challenges in the society by using AI technology and provide great service.
                            </div>
                            <div id="tab-content-3" class="container tab-pane fade">
                                Zipa technologies is a self dependent institute aiming to solve challenges in the society by using AI technology and provide great service.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- About End -->


    <!-- Service Start -->
    <div class="service" id="services">
        <div class="container">
            <div class="section-header text-center">
                <p>What We Deliver?</p>
                <h2>We believe in the help of AI to provide good and needed services </h2>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="service-item">
                        <div class="service-icon">
                            <i class="flaticon-education"></i>
                        </div>
                        <div class="service-text">
                            <h3>Educational Bot</h3>
                            <p>Bot can help student who want to learn by providing them with material even then ability to assess their consultant for better in person-learning with teachers.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="service-item">
                        <div class="service-icon">
                            <i class="flaticon-home"></i>
                        </div>
                        <div class="service-text">
                            <h3>Health Bot</h3>
                            <p>Bots make it easier to have online consultation with the doctor and give you tips on simple first aid to do on your own</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="service-item">
                        <div class="service-icon">
                            <i class="flaticon-home"></i>
                        </div>
                        <div class="service-text">
                            <h3>GeoPhormic Bot</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio facere sunt maiores inventore odit labore, tenet</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="service-item">
                        <div class="service-icon">
                            <i class="flaticon-education"></i>
                        </div>
                        <div class="service-text">
                            <h3>Educational Bot</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio facere sunt maiores inventore odit labore, tenet</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="service-item">
                        <div class="service-icon">
                            <i class="flaticon-home"></i>
                        </div>
                        <div class="service-text">
                            <h3>Health Bot</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio facere sunt maiores inventore odit labore, tenet</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="service-item">
                        <div class="service-icon">
                            <i class="flaticon-home"></i>
                        </div>
                        <div class="service-text">
                            <h3>GeoPhormic Bot</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio facere sunt maiores inventore odit labore, tenet</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio section-bg">
        <div class="container">
            <div class="section-header text-center">
                <p>Our Projects</p>
                <h2>Some of the projects completed by Zipa</h2>
            </div>
            <div class="row">
                <div class="col-lg-12 d-flex justify-content-center">
                    <ul id="portfolio-flters">
                        <li data-filter="*" class="filter-active">All</li>
                        <li data-filter=".filter-app">Health</li>
                        <li data-filter=".filter-card">Educational</li>
                        <li data-filter=".filter-web">Geographic</li>
                    </ul>
                </div>
            </div>

            <div class="row portfolio-container">

                <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                    <div class="portfolio-wrap">
                        <img src="{% static 'img/images/chatbot.png' %}" class="{% static 'img-fluid" alt="">
                        <div class="portfolio-info">
                            <h4>Bot 1</h4>
                        </div>
                        <div class="portfolio-links">
                            <a href="{% static 'img/images/chatbot.png' %}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 1"><i class="bx bx-plus"></i></a>
                            <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                    <div class="portfolio-wrap">
                        <img src="{% static 'img/images/bot2.png' %}" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h4>Bot 2</h4>

                        </div>
                        <div class="portfolio-links">
                            <a href="{% static 'img/images/bot2.png' %}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 3"><i class="bx bx-plus"></i></a>
                            <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                    <div class="portfolio-wrap">
                        <img src="{% static 'img/images/bot.jfif' %}" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h4>Pizza Bot</h4>
                        </div>
                        <div class="portfolio-links">
                            <a href="{% static 'img/images/bot.jfif' %}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 2"><i class="bx bx-plus"></i></a>
                            <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                    <div class="portfolio-wrap">
                        <img src="{% static 'img/images/bot.png' %}" class=" img-fluid " alt=" ">
                        <div class="portfolio-info ">
                            <h4>Hosp Bot</h4>

                        </div>
                        <div class="portfolio-links ">
                            <a href="{% static 'img/images/bot.png' %}" data-gallery="portfolioGallery " class="portfolio-lightbox " title="Card 2 "><i class="bx bx-plus "></i></a>
                            <a href="portfolio-details.html " title="More Details "><i class="bx bx-link "></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-web ">
                    <div class="portfolio-wrap ">
                        <img src="{% static 'img/images/smart.png' %}" class="img-fluid " alt=" ">
                        <div class="portfolio-info ">
                            <h4>bot3</h4>

                        </div>
                        <div class="portfolio-links ">
                            <a href="{% static 'img/images/smart.png' %}" data-gallery="portfolioGallery " class="portfolio-lightbox " title="Web 2 "><i class="bx bx-plus "></i></a>
                            <a href="portfolio-details.html " title="More Details "><i class="bx bx-link "></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-app ">
                    <div class="portfolio-wrap ">
                        <img src="{% static 'img/images/chatbot.png' %}" class="img-fluid " alt=" ">
                        <div class="portfolio-info ">
                            <h4>Bot 4</h4>

                        </div>
                        <div class="portfolio-links ">
                            <a href="{% static 'img/images/chatbot.png' %}" data-gallery="portfolioGallery " class="portfolio-lightbox " title="App 3 "><i class="bx bx-plus "></i></a>
                            <a href="portfolio-details.html " title="More Details "><i class="bx bx-link "></i></a>
                        </div>
                    </div>
                </div>
            </div>
    </section>
    <!-- End Portfolio Section -->
    <!-- Testimonial Start -->
    <div class="testimonial">
        <div class="container">
            <div class="section-header text-center">
                <p>Testimonial</p>
                <h2>Listen to how the program has changed people's lives. </h2>
            </div>
            <div class="owl-carousel testimonials-carousel">
                <div class="testimonial-item">
                    <div class="testimonial-profile">
                        <div class="testimonial-name">
                            <h3>Pizza Hut</h3>

                        </div>
                    </div>
                    <div class="testimonial-text">
                        <p>
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Earum quibusdam quia officia voluptates aliquam molestias nam doloribus repellat velit! Dolores quam reprehenderit veniam tempora quaerat velit officia obcaecati aliquam ratione.
                        </p>
                    </div>
                </div>
                <div class="testimonial-item">
                    <div class="testimonial-profile">
                        <div class="testimonial-name">
                            <h3>National Security</h3>
                        </div>
                    </div>
                    <div class="testimonial-text">
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi reprehenderit ab modi nam excepturi, porro et quibusdam? Corrupti aspernatur sit culpa, dolorum illum assumenda odio itaque ipsa labore nam aliquid!
                        </p>
                    </div>
                </div>
                <div class="testimonial-item">
                    <div class="testimonial-profile">
                        <div class="testimonial-name">
                            <h3>Health Institute</h3>

                        </div>
                    </div>
                    <div class="testimonial-text">
                        <p>
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eum, magni fuga! Officia sit beatae error est inventore, expedita reprehenderit, quis tempore nemo assumenda repellat. Dolores adipisci ducimus modi ullam voluptas.
                        </p>
                    </div>
                </div>
                <div class="testimonial-item">
                    <div class="testimonial-profile">
                        <div class="testimonial-name">
                            <h3>Dlab</h3>

                        </div>
                    </div>
                    <div class="testimonial-text">
                        <p>
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. At autem alias sequi accusantium culpa omnis possimus beatae aliquid tenetur, error laudantium voluptatem aut facilis repellendus ratione voluptatum porro quo nesciunt?
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Testimonial End -->



    <!-- Footer Start -->
    <div class="footer ">
        <div class="container ">
            <div class="row ">
                <div class="col-lg-3 col-md-6 ">
                    <div class="footer-contact ">
                        <h2>Our Location</h2>
                        <p><i class="fa fa-map-marker-alt "></i>Dar es salaam,Tanzania</p>
                        <p><i class="fa fa-phone-alt "></i>+255 718 017 738</p>
                        <p><i class="fa fa-envelope "></i>support@zipa.tech</p>
                        <div class="footer-social ">
                            <a class="btn btn-custom " href="https://twitter.com/zipa_tech"><i class="fab fa-twitter "></i></a>
                            <a class="btn btn-custom " href=" "><i class="fab fa-facebook-f "></i></a>
                            <a class="btn btn-custom " href=" "><i class="fab fa-youtube "></i></a>
                            <a class="btn btn-custom " href="https://instagram.com/zipa_tech"><i class="fab fa-instagram "></i></a>
                            <a class="btn btn-custom " href=" "><i class="fab fa-linkedin-in "></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 ">
                    <div class="footer-link ">
                        <h2>Popular Links</h2>
                        <a href=" ">Leads</a>
                        <a href=" ">Experts</a>
                        <a href=" ">Projects</a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 ">
                    <div class="footer-newsletter ">
                        <h2>Newsletter</h2>
                        <form>
                            <input class="form-control " placeholder="Email goes here ">
                            <button class="btn btn-custom ">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="container copyright ">
            <div class="row ">
                <div class="col-md-6 ">
                    <p>&copy;
                        <a href="# ">ZiPa_Tech</a>|| All Right Reserved.
                    </p>
                </div>
                <div class="col-md-6 ">
                    <p>Designed By
                        <a href=>ZiPa Technologies.</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End -->

    Back to top button
    <a href="# " class="back-to-top "><i class="fa fa-chevron-up "></i></a>

    <!-- Pre Loader -->
    <!-- <div id="loader " class="show ">
        <div class="loader "></div>
    </div> -->

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js "></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js "></script>
    <script src="{% static 'lib/easing/easing.min.js' %}"></script>
    <script src="{% static 'lib/owlcarousel/owl.carousel.min.js' %}"></script>
    <script src="{% static 'lib/waypoints/waypoints.min.js' %}"></script>
    <script src="{% static 'lib/counterup/counterup.min.js' %}"></script>
    <script src="{% static 'lib/parallax/parallax.min.js' %}"></script>

    <!-- Template Javascript -->
    <script src="{% static 'js/main.js' %}"></script>
</body>

</html>